.cpYearNavigation,
.cpMonthNavigation{ background-color:#6677DD; text-align:center; vertical-align:center; text-decoration:none; color:#FFFFFF; font-weight:bold; }
.cpDayColumnHeader,
.cpYearNavigation,
.cpMonthNavigation,
.cpCurrentMonthDate,
.cpCurrentMonthDateDisabled,
.cpOtherMonthDate,
.cpOtherMonthDateDisabled,
.cpCurrentDate,
.cpCurrentDateDisabled,
.cpTodayText,
.cpTodayTextDisabled,
.cpText{ font-family:arial; font-size:8pt; }
td.cpDayColumnHeader{ text-align:right; border:solid thin #6677DD; border-width:0 0 1 0; }
.cpCurrentMonthDate,
.cpOtherMonthDate,
.cpCurrentDate{ text-align:right; text-decoration:none; }
.cpCurrentMonthDateDisabled,
.cpOtherMonthDateDisabled,
.cpCurrentDateDisabled{ color:#D0D0D0; text-align:right; text-decoration:line-through; }
.cpCurrentMonthDate{ color:#6677DD; font-weight:bold; }
.cpCurrentDate{ color: #FFFFFF; font-weight:bold; }
.cpOtherMonthDate{ color:#808080; }
td.cpCurrentDate{ color:#FFFFFF; background-color: #6677DD; border-width:1; border:solid thin #000000; }
td.cpCurrentDateDisabled{ border-width:1; border:solid thin #FFAAAA; }
td.cpTodayText,
td.cpTodayTextDisabled{ border:solid thin #6677DD; border-width:1 0 0 0; }
a.cpTodayText,
span.cpTodayTextDisabled{ height:20px; }
a.cpTodayText{ color:#6677DD; font-weight:bold; }
span.cpTodayTextDisabled{ color:#D0D0D0; }
.cpBorder{ border:solid thin #6677DD; }
